.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  transform: translate(-300px, 0) scale(4);

  direction: ltr;
}

.file-upload {
  display: inline-block;
  margin-bottom: 9px;
}

.file-upload .form-control {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.file-upload .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.file-upload .thumbnail > img {
  max-height: 100%;
}

.file-upload .btn {
  vertical-align: middle;
}

.file-upload-exists .file-upload-new, .file-upload-new .file-upload-exists {
  display: none;
}

.file-upload-inline .file-upload-controls {
  display: inline;
}

.file-upload-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.form-control .file-upload-filename {
  vertical-align: bottom;
}

.file-upload-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}

.file-upload-new .input-group .btn-file.btn-xs, .file-upload-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}

.file-upload-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}

.form-group.has-warning .file-upload .file-upload-preview {
  color: #8a6d3b;
}

.form-group.has-warning .file-upload .thumbnail {
  border-color: #faebcc;
}

.form-group.has-error .file-upload .file-upload-preview {
  color: #a94442;
}

.form-group.has-error .file-upload .thumbnail {
  border-color: #ebccd1;
}

.form-group.has-success .file-upload .file-upload-preview {
  color: #3c763d;
}

.form-group.has-success .file-upload .thumbnail {
  border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
  border-left: 0;
}

.file-upload .file-upload-success, .file-upload .file-upload-error {
  display: none;
  opacity:0.9; /* CSS3 */
  z-index:1000;
  background-color: #fff;
  font-size: 30px;
  padding: 3px;
  border-radius: 25px;
  position: absolute;
}

.file-upload .file-upload-success {
  color: #8cc657;
}

.file-upload .file-upload-error {
  color: #ee162d;
}

.file-upload .file-upload-message {
  display: none;
  margin-bottom: 0.5em;
  padding: 5px 3px;
}

.file-upload .loading {
    opacity: 0.5;
	z-index:1000;
    background: #fff url('../images/progress.gif') no-repeat center center;
    width: 30px;
	height: 150px;
	padding: 0;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto !important;
}
